.DS_Store
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/.DS_Store
chapter07/dump.rdb
chapter07/artist.json
chapter08/rt-polaritydata/
chapter09/*.txt
chapter09/*.csv
chapter10/*.txt
chapter10/*.csv
dump.rdb
